* {
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;

    /* This linear background is from => cssgradient.io <= */
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

/* The buttons */
.btn {
    background-color: #f9ca24;
    color: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0;
    border-radius: 3px;
    font-size: 16px;
    padding: 12px 20px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    letter-spacing: 1px;
    box-shadow: 0 3px rgba(249, 202, 36, 0.5);
    z-index: 100;
}

#btn-image {
    left: 30%;
}

#btn-transform {
    right: 30%;
}

.btn:focus {
    outline: none;
}

.btn:active {
    box-shadow: none;
    transform: translateY(2px);
}

/* The image */
.boxes {
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    transition: 2s ease;
    margin-top: 10px;
}

.boxes.big {
    width: 600px;
    height: 600px;
    transition: 2s ease;
}

.boxes.big .box {
    transform: rotateZ(360deg);
}

.box {
    background: yellow;
    height: 125px;
    width: 125px;
    background-repeat: no-repeat;
    background-size: 500px 500px;
    position: relative;
    transition: 2s ease;
}

.box::after {
    content: '';
    background-color: #f6e58d;

    /* for the >position: absolute;< to work, the parent needs >position: relative;< */
    position: absolute;
    top: 8px;
    right: -15px;
    height: 100%;
    width: 15px;

    /* makes this slant at the top and bottom */
    transform: skewY(45deg);
}

.box::before {
    content: '';
    background-color: #f9ca24;
    position: absolute;
    bottom: -15px;
    left: 8px;
    width: 100%;
    height: 15px;
    transform: skewX(45deg);
}


